* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.Color {
    width: 45%;
    background: linear-gradient(rgb(83, 66, 177),rgb(128, 119, 175), rgb(189, 189, 195));
    color: #f5f7fc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
}
.Color h2 {
    margin-bottom: 10px;
    font-size: 55px;
    text-shadow: 2px 2px 4px #000000; 
}
.Color p{
    font-size: 10px;
    margin-bottom: 14px;
}
.Color h5{
    margin-bottom: 40px;
    font-size: 16px;
}
.Color button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color:#f5f7fc;
    color:rgb(53, 52, 52);
    border: 1px solid rgb(83, 66, 177);
    border-radius: 10px ;
    
    cursor: pointer;
    font-weight: bold;
    height: 59px;
    width: 242px;
    transition: 0.3s ease;
    font-size: 24px;
}

.Color button:hover {
    background-color: rgb(83, 66, 177);
    color: #f5f7fc;

}



.form {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: #f5f7fc;
}

.form h1 {
    text-shadow: 2px 2px 4px #625f5f; 
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 44px;
    color: rgb(53, 52, 52);
    padding-right: 180px;

}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid  #f5f7fc;;
    border-radius: 5px;
    border-style: solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 650px;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #484747;
    
}
form input:focus {
    border-bottom: 2px solid #979595;
}

form button {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(83, 66, 177);
    color: #f5f7fc;
    border: 1px solid #FFCFCF;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    height: 59px;
    width: 242px;
    margin-left: 200px;
   
    
    font-size: 24px;
}

form button:hover {
    background-color: rgb(60, 43, 160);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .Color, .form {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .form h1 {
        padding-right: 0;
        font-size: 32px;
        text-align: center;
    }

    form input {
        width: 100%;
        font-size: 14px;
    }

    form button {
        width: 100%;
        margin-left: 0;
    }

    .Color h2 {
        font-size: 36px;
    }

    .Color button {
        width: 100%;
        font-size: 20px;
    }
}
